{% comment %}
  Renders a product media modal. Also see 'product-media-gallery'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant

  Usage:
  {% render 'product-media-modal' %}
{% endcomment %}

<product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
  <div
    class="product-media-modal__dialog color-{{ section.settings.color_scheme }} gradient"
    role="dialog"
    aria-label="{{ 'products.modal.label' | t }}"
    aria-modal="true"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ section.id }}"
      type="button"
      class="product-media-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {{ 'icon-close.svg' | inline_asset_content }}
    </button>

    <div
      class="product-media-modal__content color-{{ section.settings.color_scheme }} gradient"
      role="document"
      aria-label="{{ 'products.modal.label' | t }}"
      tabindex="0"
    >
      {%- liquid
        assign selected_variant = current_variant
        if selected_variant == blank
          assign selected_variant = product.selected_or_first_available_variant
        endif

        assign show_variant_scoped_media = false
        if use_variant_scoped_media == true
          assign show_variant_scoped_media = true
        endif
      -%}

      {%- if show_variant_scoped_media -%}
        {%- if selected_variant.featured_media != null -%}
          {%- assign media = selected_variant.featured_media -%}
          {%- render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants -%}
        {%- endif -%}

        {%- if variant_media_item != blank -%}
          {%- assign media_id = section.id | append: '-variant-' | append: selected_variant.id | append: '-1' -%}
          {%- render 'tejesta-variant-media-modal-image', media: variant_media_item, media_id: media_id -%}
        {%- else -%}
          {%- for variant_media in variant_media_items -%}
            {%- assign media_id = section.id | append: '-variant-' | append: selected_variant.id | append: '-' | append: forloop.index -%}
            {%- render 'tejesta-variant-media-modal-image', media: variant_media, media_id: media_id -%}
          {%- endfor -%}
        {%- endif -%}
      {%- else -%}
        {%- liquid
          if product.selected_or_first_available_variant.featured_media != null
            assign media = product.selected_or_first_available_variant.featured_media
            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
          endif
        -%}

        {%- for media in product.media -%}
          {%- liquid
            if section.settings.hide_variants and variant_images contains media.src or variant_images contains media.id
              assign variant_image = true
            else
              assign variant_image = false
            endif

            unless media.id == product.selected_or_first_available_variant.featured_media.id
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
            endunless
          -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</product-modal>
